# Follow network settings are used to assign ip to vpn client
# and accesses are limited by
# https://github.com/jenkins-infra/jenkins-infra/blob/production/dist/profile/manifests/openvpn.pp
#
networks:
    - name: default
      iprange: 10.8.0.1/24
      netmask: 255.255.254.0
      routes:
          # prod-jenkins-public-prod/data-tier
          - 10.0.2.0/24
          # prod-jenkins-private-prod-vnet
          - 10.240.0.0/14
    - name: admin
      iprange: 10.8.1.1/24
      netmask: 255.255.254.0
      routes:
          # prod-jenkins-public-prod/app-tier
          - 10.0.1.0/24
          # prod-jenkins-public-prod/data-tier
          - 10.0.2.0/24
          # prod-jenkins-public-prod/dmz-tier
          - 10.0.99.0/24
          # prod-jenkins-private-prod-vnet
          - 10.240.0.0/14
    - name: private
      # private-vnet-vpn, defined in jenkins-infra/azure-net
      iprange: 10.248.0.0/28
      netmask: 255.255.254.0
      routes:
          # private-vnet, defined in jenkins-infra/azure-net
          - 10.248.0.0/14
