# VPN networks and their configurations (CIDR/additional routes to peered networks, etc.)
networks:
  private:
    iprange: 10.9.0.0/24
    routes:
      private: 10.248.0.0/14
      public: 10.244.0.0/14
      public-db: 10.253.0.0/21
      infra-ci-jenkins-io: 10.5.0.0/22
      cert-ci-jenkins-io: 10.252.8.0/21
      trusted-ci-jenkins-io: 10.252.0.0/21
      archives.jenkins.io: 46.101.121.132/32
      pkg.origin.jenkins.io: 52.202.51.185/32
      usage.jenkins.io: 52.204.62.78/32
      census.jenkins.io: 52.202.38.86/32
      aws.ci.jenkins.io: 18.217.202.59/32
      eks_cijenkinsioagents2: 3.149.48.23/32 3.149.71.89/32
      testissues.jenkins.io: 35.163.3.64/32 52.41.215.149/32
      dockerhubmirror.azurecr.io: 20.49.102.134/32
users:
  abayer:
    id: 16
    routes:
      private:
        - private
        - public
        - usage.jenkins.io
        - census.jenkins.io
  danielbeck:
    id: 5
    all_routes: true
  dduportal:
    id: 3
    all_routes: true
  jayfranco_cb:
    id: 2
    all_routes: true
  kevingrdj:
    id: 11
    all_routes: true
  kohsuke:
    id: 6
    routes:
      private:
        - private
        - public
        - trusted-ci-jenkins-io
        - archives.jenkins.io
        - pkg.origin.jenkins.io
        - usage.jenkins.io
        - census.jenkins.io
  krisstern:
    id: 15
    routes:
      private:
        - public
        - private
        - public-db
  markewaite:
    id: 7
    all_routes: true
  notmyfault:
    id: 8
    all_routes: true
  smerle:
    id: 4
    all_routes: true
  timja:
    id: 9
    all_routes: true
  wfollonier:
    id: 10
    all_routes: true
